<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header flex flex-row">
            <div class="justify-start flex-grow font-bold">
                Create New Todo
            </div>
            <div class="close-button font-bold justify-end">
                <button (click)="closeModal()">X</button>
            </div>
        </div>
        <div class="modal-body">
            <ng-template #modalTemplate>
        
            </ng-template>
        </div>
        <div class="modal-buttons">
            <button (click)="saveClick()">Save</button>
        </div>
    </div>
  
  </div>