<div cdkDropList   (cdkDropListDropped)="drop($event)" class="m-5 todo-container" style="width: 300px; min-width: 300px;">
    <div class="pr-2 px-2 pt-5 pb-5 flex flex-row">
        <div class="" style="flex-grow: 5; align-self: center;">
            <h3>{{headerText}}</h3>

        </div>
        <div class="justify-end flex-grow" style="font-size: 1.5rem; text-align: right;">
            <button (click)="openModal()" class="font-bold"> + </button>
        </div>
    </div>

    <div cdkDrag [cdkDragData]="todo" class="flex flex-row pr-2 px-2 pt-5 pb-5 todo-box" *ngFor="let todo of todoList">
        <div (click)="openEditModal(todo)" class="todo-text pl-2" style="flex-grow: 2; align-self: center;cursor: pointer;">
            <h3>{{ todo.Name }}</h3>
        </div>
    </div>
</div>